.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading h1{
  width: 100%;
  height: 10vh;
  background: rgb(150, 150, 233);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.heading h5{
  margin-left: 20px;
  font-size: 30px;
  align-items: center;
}
.footer-section{
  background:rgb(105, 105, 184);
  position: relative;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
